<container>

	<row>
		<column class="padding-b text-left left-col-item mbl-pad-md" large="7" small="12">
			<a href="{{{ url }}}" target="_blank">
				<h2 class="t_bloc">In the home</h2>
			</a>
		</column>
	</row>
</container>

<container>
	<row class="reservation-details res-txt">
		<column large="6" small="12" class="left-col-item amenity-name padding-b mbl-pad-md">
			<img inline infer="retina" src="https://vacasa-email.imgix.net/Icon-shampoo.png?h=48" alt="crab">
			<span>
				Shampoo, conditioner, and soap
			</span>
		</column>
		<column large="6" small="12" class="right-col-item amenity-name padding-b mbl-pad-md">
			<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-cleaning-two.png?h=48" alt="crab">

			<span>
				Basic cleaning supplies
			</span>
		</column>
	</row>
	<row class="reservation-details res-txt">
		<column large="6" small="12" class="left-col-item amenity-name padding-b mbl-pad-md">
			<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-tier1-linens.png?h=48" alt="crab">

			<span>
				Fresh linens and towels
			</span>
		</column>
		<column large="6" small="12" class="right-col-item amenity-name padding-b mbl-pad-md">
			<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-wifi.png?h=48" alt="crab">

			<span>
				Internet Access
			</span>
		</column>
	</row>
	<row class="reservation-details res-txt">
		<column large="6" small="12" class="left-col-item amenity-name padding-b mbl-pad-md">
			<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-cooking.png?h=48" alt="crab">

			<span>
				Cookware and dishes
			</span>
		</column>

	</row>
</container>

<container>
	<row>
		<column class="left-btn padding-b-huge padding-t button text-center mbl-pad-md">
			{{> t_secondary-button-side label="View All Amenities" url=unit_1_url b_utm=utms }}
		</column>
		<column large="5" small="0"></column>
	</row>
</container>
